@keyframes bounce {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-10px);
	}
}

.mosaic {
	display: block;
	overflow: hidden;
	margin-top: 30px;
}

.mosaic-piece {
	width: 150px;
	margin: 10px;
	background-color: #000;
}

.mosaic-piece-cta {
	position: relative;
	display: block;
	width: 100%;
	aspect-ratio: 1;
	padding: 0;
	border: none;
	font-family: var(--text-font);
	background-color: transparent;
}

.mosaic-piece-figure {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 20px;
	box-sizing: border-box;
	pointer-events: none;
	flex-grow: 1;
	height: auto;
}

.mosaic-piece-figure svg {
	width: 100%;
	height: 100%;
}

.piece-details {
	box-sizing: border-box;
	height: 80vh;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	box-shadow: 0 0 7px -1px cyan;
}
.piece-figure {
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 25px 40px;
	background-color: #000;
}
@media (min-width: 768px) {
	.piece-figure {
		flex-direction: row;
		height: auto;
	}
}
.piece-figure__primary {
	text-align: center;
}
@media (min-width: 768px) {
	.piece-figure__primary,
	.piece-figure__secondary {
		width: 50%;
	}
}
.piece-figure__reference,
.piece-figure__name {
	font-family: var(--title-font);
	font-size: 1.5em;
	font-weight: bold;
}
.piece-figure__figure {
	flex: 1;
	display: flex;
	margin-top: 10px;
	margin-bottom: 10px;
}
@media (min-width: 768px) {
	.piece-figure__figure {
		width: 100%;
		margin: 25px 0;
	}
}
.piece-figure__figure svg {
	height: 100%;
}
.piece-figure__name {
	font-weight: bold;
	font-size: 1.5em;
	text-decoration: underline;
}
.piece-figure__means {
	margin-top: 10px;
	font-size: 16px;
	list-style: none;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}
.piece-figure__means li:nth-child(2) {
	font-weight: bold;
	font-size: 1.3em;
}
.piece-figure__means li:nth-child(3) {
	font-family: var(--title-font);
	font-family: 'InkFree';
	font-size: 1.3em;
}
.piece-figure__means li:nth-child(1):before,
.piece-figure__means li:nth-child(1):after,
.piece-figure__means li:nth-child(3):before,
.piece-figure__means li:nth-child(3):after {
	content: '"';
	display: inline;
}

.mosaic-filter-cta[data-category='lideranca-justica-e-moralidade']:before {
	background-color: #ed3237;
}
.mosaic-filter-cta[data-category='sabedoria-conhecimento-e-estrategia']:before {
	background-color: #3e4095;
}
.mosaic-filter-cta[data-category='fe-espiritualidade-e-resiliencia']:before {
	background-color: #c8a2cb;
}
.mosaic-filter-cta[data-category='unidade-harmonia-e-relacoes']:before {
	background-color: #91d8f7;
}
.mosaic-filter-cta[data-category='cultura-identidade-e-memoria']:before {
	background-color: #a8cf45;
}
.mosaic-filter-cta[data-category='prosperidade-cuidado-e-saude']:before {
	background-color: #f5874f;
}

.piece-info {
	box-sizing: border-box;
	width: 100%;
	padding: 25px 40px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow: auto;
}
.piece-info__title {
	flex-shrink: 0;
}
.piece-info__data {
	color: #111;
	flex-basis: 1;
	overflow-y: auto;
}
@media (min-width: 667px) {
	.piece-details {
		flex-direction: row;
		align-items: stretch;
		height: 70vh;
	}
	.piece-figure {
		width: 35%;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
	.piece-info {
		width: 65%;
	}
	.piece-figure__primary {
		display: flex;
	}
	.piece-figure__primary,
	.piece-figure__secondary {
		width: 100%;
	}
	.piece-figure__primary {
		flex-direction: column;
		/* flex-grow: 1; */
	}
	.piece-figure__secondary {
		flex-grow: 1;
	}
	.piece-figure__name {
		display: block;
	}
	.piece-figure__figure svg {
		width: 100%;
	}
}

@media (max-height: 700px) and (orientation: portrait) {
	.piece-figure__secondary {
		display: none;
	}
}
@media (max-width: 700px) and (orientation: landscape) {
	.piece-figure__secondary {
		display: none;
	}
}

@media (max-height: 620px) {
	.piece-figure__secondary {
		display: none;
	}
}

.mosaic-filter {
	color: #000;
	font-family: 'InkFree';
	font-size: 12px;
	margin-top: 35px;
	border-top: 1px solid white;
	border-bottom: 1px solid white;

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	box-sizing: border-box;
}

@media (min-width: 768px) {
	.mosaic-filter .wrapper {
		grid-template-columns: repeat(6, 1fr);
	}
}

.mosaic-filter-cta {
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	font-family: 'InkFree';
	font-size: 16px;
	background-color: transparent;
	padding: 5px 0;
	text-align: center;
}

.mosaic-filter-cta:first-child {
	grid-column: 1 / -1;
	color: var(--secondary-color);
	border-bottom: 1px solid white;
}
.mosaic-filter-cta[data-category='lideranca-justica-e-moralidade'] {
	color: var(--mosaic-color--lideranca-justica-e-moralidade);
}
.mosaic-filter-cta[data-category='sabedoria-conhecimento-e-estrategia'] {
	color: var(--mosaic-color--sabedoria-conhecimento-e-estrategia);
}
.mosaic-filter-cta[data-category='fe-espiritualidade-e-resiliencia'] {
	color: var(--mosaic-color--fe-espiritualidade-e-resiliencia);
}
.mosaic-filter-cta[data-category='unidade-harmonia-e-relacoes'] {
	color: var(--mosaic-color--unidade-harmonia-e-relacoes);
}
.mosaic-filter-cta[data-category='cultura-identidade-e-memoria'] {
	color: var(--mosaic-color--cultura-identidade-e-memoria);
}
.mosaic-filter-cta[data-category='prosperidade-cuidado-e-saude'] {
	color: var(--mosaic-color--prosperidade-cuidado-e-saude);
}

.mosaic-filter-cta > * {
	pointer-events: none;
}

.piece-info__data dl {
	padding-left: 25px;
}
.piece-meaning-title {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.3em;
}

.mosaic-scroll-to-view {
	margin-top: 20px;
	margin-bottom: 70px;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
}

.mosaic-scroll-to-view__info {
	font-size: 10px;
	color: var(--secondary-color);
	margin-bottom: 18px;
}

.mosaic-scroll-to-view__cta {
	border: none;
	background-color: transparent;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
}

.mosaic-scroll-to-view__cta svg {
	display: block;
	width: 33px;
	height: 33px;
	animation: bounce 1.5s infinite ease-in-out;
}
