.puzzle {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	align-items: center;
	gap: 25px;
	box-sizing: border-box;
}

.puzzle-child {
	width: 100%;
}

.puzzle-cta {
	display: block;
	width: 100%;
	aspect-ratio: 1;
	padding: 0;
	border: none;
}

.modal {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.25s ease-in-out;
}

.modal.active {
	visibility: visible;
	opacity: 1;
}

.modal-wrapper {
	width: 100%;
	margin: 0 auto;
	padding-left: 30px;
	padding-right: 30px;
	box-sizing: border-box;
	position: relative;
	z-index: 1;
	top: 50%;
	transform: translateY(-50%);
}

@media (min-width: 768px) {
	.modal-wrapper {
		padding-left: 0;
		padding-right: 0;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.modal-wrapper {
		width: 90%;
	}
}

/* Estilo para dispositivos de largura entre 992px e 1199px (tablets em modo retrato e desktops pequenos) */
@media (min-width: 992px) and (max-width: 1199px) {
	.modal-wrapper {
		width: 80%;
	}
}

/* Estilo para dispositivos de largura igual ou superior a 1200px (desktops grandes) */
@media (min-width: 1200px) {
	.modal-wrapper {
		width: 1200px; /* ou qualquer valor fixo que você preferir */
	}
}

.tattoo-detail {
	display: flex;
	align-items: stretch;
	gap: 0;
	box-sizing: border-box;
}

.tattoo-img {
	width: 50%;
}
.tattoo-info {
	box-sizing: border-box;
	width: 50%;
	padding: 25px 40px;
	background-color: #fff;
	color: #333;
	max-height: 80vh;
	overflow-y: auto;
}

.modal-background-close {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.75);
	border: none;
}

.modal-button-close {
	position: absolute;
	top: 0;
	right: 0;
	transform: translate(50%, -50%);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 2px solid var(--primary-color);
	background-color: #000;
	color: #fff;
	font-size: 24px;
}

.modal-button-close:before {
	content: '✕';
	display: block;
}
