.v-align-center {
	display: flex;
	min-width: 320px;
	min-height: 100vh;
	flex-direction: column;
	justify-content: center;
}

.w-full {
	width: 100%;
}

.grid {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 2fr 2fr 1fr;
	align-items: center;
	gap: 25px;
	box-sizing: border-box;
}
.grid > * {
	background-color: rgb(255, 157, 30);
}

@media (min-width: 768px) {
	.grid {
		grid-template-columns: repeat(8, 1fr);
		gap: 25px;
		padding: 0;
	}
}

.flex {
	display: flex;
}
.flex-row {
	flex-direction: row;
}
.flex-column {
	flex-direction: column;
}
.flex-row-reverse {
	flex-direction: row-reverse;
}
.flex-column-reverse {
	flex-direction: column-reverse;
}

.justify-start {
	justify-content: flex-start;
}
.justify-end {
	justify-content: flex-end;
}
.justify-center {
	justify-content: center;
}
.justify-between {
	justify-content: space-between;
}
.justify-around {
	justify-content: space-around;
}
.justify-evenly {
	justify-content: space-evenly;
}

.items-start {
	align-items: flex-start;
}
.items-end {
	align-items: flex-end;
}
.items-center {
	align-items: center;
}
.items-baseline {
	align-items: baseline;
}
.items-stretch {
	align-items: stretch;
}

.flex-grow {
	flex-grow: 1;
}
.flex-shrink {
	flex-shrink: 1;
}
.flex-grow-0 {
	flex-grow: 0;
}
.flex-shrink-0 {
	flex-shrink: 0;
}
.flex-basis-0 {
	flex-basis: 0%;
}
.flex-basis-auto {
	flex-basis: auto;
}

.flex-wrap {
	flex-wrap: wrap;
}
.flex-nowrap {
	flex-wrap: nowrap;
}
.flex-wrap-reverse {
	flex-wrap: wrap-reverse;
}

.self-auto {
	align-self: auto;
}
.self-start {
	align-self: flex-start;
}
.self-end {
	align-self: flex-end;
}
.self-center {
	align-self: center;
}
.self-stretch {
	align-self: stretch;
}
