:root {
	--primary-color: #3498db;
	--secondary-color: #e2e2e2;
	--spacing: 20px;

	--font-size: 16px;
	--line-height: 1.25;
	--title-font: 'CormorantGaramond', sans-serif;
	--text-font: 'Poppins', sans-serif;

	--mosaic-color--lideranca-justica-e-moralidade: #ed3237;
	--mosaic-color--sabedoria-conhecimento-e-estrategia: #3e4095;
	--mosaic-color--fe-espiritualidade-e-resiliencia: #c8a2cb;
	--mosaic-color--unidade-harmonia-e-relacoes: #91d8f7;
	--mosaic-color--cultura-identidade-e-memoria: #a8cf45;
	--mosaic-color--prosperidade-cuidado-e-saude: #f5874f;
}
