.wrapper {
	box-sizing: border-box;
	width: 100%;
	padding-left: 30px;
	padding-right: 30px;
	margin: 0 auto;
}

@media (min-width: 640px) {
	.wrapper {
	}
}

@media (min-width: 768px) {
	.wrapper {
		width: 60%;
		padding-left: 0;
		padding-right: 0;
	}
}

@media (min-width: 1024px) {
	.wrapper {
		width: 60%;
	}
}

@media (min-width: 1280px) {
	.wrapper {
		width: 60%;
	}
}
